<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css"/>

    <title>Show Page</title>
</head>
<body>
    
    <button onclick="myFunction()"><a href="#"> Tv Shows</a></button>

    <h1><%= movie.title %> </h1>


    <p>Category: <%=movie.category%> </p>

    <img src="<%=movie.img%>" alt="Poster of show/movie">

    <p> Watched On: <%=movie.streamingService%> </p>

    <p> Year: <%=movie.year%></p>

    <p> Watched: <%- movie.watched ? "Yes" : "No" %></p>

<!-- 
        <button onclick="history.back()">Go Back</button> -->
    
    <form>
       <nav>

      <button> <a href="/movies"> Back to Watchlist Page </a> </button>  
  
      <button> <a href="/movies/<%=movie._id%>/edit">Edit</a>  </button>

    </nav> 
    </form>

<h1>“Just remember, every time you look up at the moon, I, too, will be looking at a moon. Not the same moon, obviously. That's impossible.” —Andy Dwyer</h1>
 
</body>
</html>