<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <nav>
      <button> <a herf="/movies"> Back to Watchlist Page </a> </button>  
    </nav>

    <h1><%= movie.title %> </h1>

    <p>Category: <%=movie.category%> </p>

    <img src="<%=movie.img%>" alt="Poster of show/movie">

    <p> Watched On: <%=movie.streamingService%> </p>

    <p> Year: <%=movie.year%></p>

    <p> Watched: <%- movie.watched ? "Yes" : "No" %></p>

</body>
</html>